.individual-order {
  display: flex;
  align-items: center;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 1.5em -0.5em hsla(220, 30%, 80%, 0.5);
  width: 50%;
  justify-content: center;
  margin: auto;
  margin-bottom: 3em;

  #view-order {
    padding: 0;
    width: 65%;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }

  img {
    width: 6em;
    margin-right: 1em;
  }
  div {
    display: flex;
    flex-direction: column;
  }

  span {
    color: white;
  }
}

@media only screen and (max-width: 600px) {
  #view-order {
    padding: 2rem;
  }

  .individual-order {
    width: 85%;
  }
}
