.post-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  flex-direction: column;
  padding: 1rem;
}

@media screen and (max-width: 660px) {
  .post-form-container {
    height: 100vh;
  }
}
