#section-header {
  padding: 1rem 0 0 0;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem 7rem;
}

.about-left-side {
  flex: 0 0 30%;
}
.about-right-side {
  flex: 0 0 50%;
}
.vertical-boxes {
  flex: 0 0 15%;

  img {
    max-width: 80%;
    max-height: 80%;
  }
}

#about a {
  background: #ff8400;
  border-radius: 8px;
  color: #000000;
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 10px;
  padding: 6px 12px;
  width: 70%;
}

#about p {
  margin-top: 10px;
}

#about a:hover {
  background: white;
  color: #ff8400;
  padding: 6px 12px;
}

#about .about-thumb {
  border-radius: 5px;
  padding: 0 32px;
  height: 100%;
  display: flex;
  flex-direction: column;

  h4,
  h2,
  p {
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
  }

  li {
    padding: 0.3rem;
  }
}

.outer-div {
  display: flex;
}

#treasure-credits {
  border-radius: 5px;
  margin: 0.1rem;
  width: 50%;
}

.vertical-boxes {
  max-height: 80%;

  img {
    transition: all 0.2s;
    &:hover {
      outline: 0.2rem solid #ff8400;
      outline-offset: 0.3rem;
      transform: scale(1.6) translateY(-0.5px);
    }
  }
}

@media screen and (max-width: 800px) {
  #about {
    padding: 0;
  }
  .about-right-side {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    li {
      padding: 0.3rem;
      display: table;
      margin-left: 25%;
    }
  }

  .about-left-side {
    flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .vertical-boxes {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .vertical-boxes {
    flex: 0 0 20%;
  }
}
