$charade: #282a37;

#loading-screen {
  display: flex;
  height: 93vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;

  h4 {
    font-size: 2rem;
  }
}

.fancy-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;

  div {
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;

    &.ring {
      border-width: 0.5rem;
      border-style: solid;
      border-color: transparent;
      animation: 2s fancy infinite alternate;

      &:nth-child(1) {
        border-left-color: #ff8400;
        border-right-color: #ff8400;
      }
      &:nth-child(2) {
        border-top-color: #ff8400;
        border-bottom-color: #ff8400;
        animation-delay: 1s;
      }
    }

    &.dot {
      width: 1rem;
      height: 1rem;
      background: #ff8400;
    }
  }
}

@keyframes fancy {
  to {
    transform: rotate(360deg) scale(0.5);
  }
}
