.second {
  background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  padding: 2rem;
}

.home-links {
  background-color: #ff8400;
  text-align: center;
  padding: 0.3rem;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 30vw;
  margin: 0 auto;
  border-radius: 5px;
}

.home-links:hover {
  background-color: black;
}

.greeting {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url('loot_boxes.jpg');
  width: 100vw;
  height: 70vh;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  text-align: center;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
  }

  h3 {
    padding-bottom: 2rem;
    width: 50%;
    margin: 0 auto;
    font-size: 1.3rem;
  }
}

.items {
  width: 20vh;
  height: 20vh;
  text-align: center;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#lone-link {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 600px) {
  .greeting {
    padding: 2rem;

    h1 {
      font-size: 3rem;
    }

    h3 {
      width: 90%;
    }

    a {
      width: 70%;
    }
  }

  #lone-link {
    width: 70%;
  }
}
