#singlepost {
  margin-top: 5rem;
  width: 70%;
  margin: 0 auto;

  h1 {
    padding-top: 3rem;
  }

  button {
    background-color: #ff8400;
  }

  button:hover {
    background-color: black;
  }

  small {
    color: #ff8400;
  }

  h2 {
    text-align: center;
    margin: 2rem 0;
  }
}

#post-img {
  margin: 0 auto;
  display: block;
  width: 40%;
  padding: 3rem;
}

@media only screen and (max-width: 600px) {
  .individual-item {
    display: flex;
    flex-direction: column;
  }
  #singlepost {
    height: 100%;
    width: 100%;
    padding: 1.5rem;

    #post-img {
      width: 100%;
    }

    a {
      width: 50%;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }
}
