.credits-div {
  flex-direction: column;

  option {
    color: black;
  }
}

select {
  color: black;
  height: 2rem;
  margin: 0.7rem 0 1.2rem;
}

.credits-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
