html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  position: relative;
}

.bm-item,
#authentication-link {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
  transition: color 0.2s;
  font-size: 1.7rem;
}

#authentication-link {
  display: block;
  color: white;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  border: 2px solid black;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ff8400;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: rgba(255, 132, 0, 0.95);
  padding: 1.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

.white-link {
  color: white;
}
.white-link:hover {
  color: black;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#signout {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border-radius: 8%;
  background-color: black;
  padding: 0.5rem;
}

@media screen and (max-width: 800px) {
  .bm-menu {
    width: 90%;
  }

  .bm-cross-button {
    height: 24px;
    width: 24px;
    margin-right: 2rem;
    color: black;
  }
}
